.fresh {
    /* border: 2px solid black; */
    background-color: blue;
    font-size: 1px;
    color: blue;
}

.touched {
    background-color: red;
    border: 2px solid black;
}


.grid {
    width: 960px !important;
    height: 960px !important;
    /* overflow: ; */
    /* height: fit-content; */
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 0 0;
}